@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}
.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
    border-bottom: 1px solid #dcdcdc;
    background: white;
}

.top-header .left {
    display: flex;
    align-items: center;
}

.top-header .logo {
    width: 60px;
    height: auto;
    margin-right: 15px;
}

.school-info h3 {
    margin: 0;
    font-size: 18px;
}

.top-header .center {
    display: flex;
    gap: 40px;
}

.contact-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
}

.contact-item i {
    font-size: 22px;
    margin-bottom: 3px;
}

.top-header .right i {
    font-size: 20px;
    margin-left: 15px;
    cursor: pointer;
}

/* NAVBAR MENU */
.menu-nav {
    background: #f5f5f5;
    padding: 10px 0;
    border-bottom: 1px solid #dcdcdc;
}

.menu-nav ul {
    display: flex;
    justify-content: center;
    gap: 25px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-nav a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

.login-btn {
    padding: 4px 15px;
    border-radius: 12px;
    border: 1px solid #aaa;
    background: #f1f1f1;
    cursor: pointer;
}
